
* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;

    min-height: 100vh;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.089);
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: end;
    align-items: center;
}

#div_h1{
    display: grid;
    place-items: center;
    margin: 50px;
    text-align: center;
    padding-bottom: ;
}

h3{
    padding-bottom: 20px;
}

#section_one{
    display: grid;
    place-items: center;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    background-color: white;
}

#section_one>img{
width: 85%;
margin-top: 20px;
padding-bottom: 20px;
}

a{
    padding: 20px;
}

img {
    width: 100%;
}
